[Unit]
Description=MyWebApp Spring Boot Service
After=network.target

[Service]
User=app
Group=app
WorkingDirectory=/opt/mywebapp

ExecStart=/usr/bin/java -jar /opt/mywebapp/mywebapp.jar \
  --spring.datasource.url=jdbc:mariadb://{{ db_ip }}:3306/simple_inventory \
  --spring.datasource.username=mywebapp \
  --spring.datasource.password=root \
  --server.port={{ app_port }} \
  --server.address=127.0.0.1

SuccessExitStatus=143
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
